/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #fdd835;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100vh; /* Quentin 100vh , was: auto */
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 10px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}





/* Quentin */

.container {width: 80%;}



.overlay {width: 100%;}

#overlay {margin-top:-25%; width: 100%;}

#imgoverlay {width: 100%;}


@media handheld, screen and (max-width : 600px) {
.overlay {width: 100%;}
#overlay {margin-top:-45%; width: 100%;overflow-x: hidden;}
#imgoverlay { width: 170%; -webkit-transform: translateX(-20.6%); transform: translateX(-20.6%);}
}



h1 {font-size: 3em;margin: 0.67em 0;}
h2 {font-size: 2em;margin: 0.67em 0;}

.card .card-title {font-size: 20px;font-weight: 400;}

.justify {text-align: justify;}

.lightback {background-color: #eeeeee;}

p.blog {line-height: 1.25rem;}






/* NAVBAR */
nav .brand-name, nav ul a {color: #444;}
nav.smaller .brand-name, nav ul a{color: #444;}
nav {
  width: 100%;
  height: 120px;
  position: fixed;
  background-color: rgba(255,255,255,0);
  z-index: 999;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
nav.smaller {
	height: 55px;
  background-color: rgba(255,255,255,1);
}
nav a {
  color: #fff;
}
nav i,nav [class^="mdi-"], nav [class*="mdi-"],nav i.material-icons {
  display: block;
  font-size: 2rem;
  height: 56px;
  line-height: 56px;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
}

/* large screens */
@media only screen and (min-width: 993px) {
nav a.button-collapse {
    display: none;
  }
nav .button-collapse {
  float: left;
  position: relative;
  z-index: 1;
  height: 560px;
}
nav .button-collapse i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}
  nav ul{display: none;}
nav.smaller ul{display: block;}
}
}

/* nav medium screens */
@media only screen and (max-width: 992px) {
nav {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgba(255,255,255,0);
  z-index: 999;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
nav.smaller{}
nav ul{display: none;}
nav.smaller ul{display: block;}
}
  
/* nav small screens */
@media only screen and (max-width: 992px) {
nav{}
nav.smaller{}
nav ul{display: block;}
nav.smaller ul{display: block;}
}






nav ul {margin: 0;}

nav ul li {
  transition: background-color .3s;
  float: right;
  padding: 0;
}



nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}
nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: #444;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
nav ul.left {
  float: left;
}
nav .input-field {
  margin: 0;
}
nav .input-field input {
  height: 100%;
  font-size: 1.2rem;
  border: none;
  padding-left: 2rem;
}
nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
  border: none;
  box-shadow: none;
}
nav .input-field label {
  top: 0;
  left: 0;
}
nav .input-field label i {
  color: rgba(255, 255, 255, 0.7);
  transition: color .3s;
}
nav .input-field label.active i {
  color: #fff;
}
nav .input-field label.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.navbar-fixed {
  position: relative;
  height: 56px;
  z-index: 998;
}
.navbar-fixed nav {
  position: fixed;
}
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    /* height: 164px; */
    line-height: 64px;
    position: fixed;
      -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
    nav.smaller, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
  }
  .navbar-fixed {
    height: 64px;
  }
}

/*brand logo large screen*/
nav .brand-logo {
  height: 90%;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
  top: 5px
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
nav.smaller .brand-logo {
  height: 80%;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
  top: 5px
    }

/*brand logo medium screen*/
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    position: absolute;
    left: 50%;
    height: 75%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav.smaller .brand-logo {
    left: 50%;
    height: 95%;
  }
}
/*brand logo small screen*/
@media only screen and (max-width: 600px) {
  nav .brand-logo {
    position: absolute;
    left: 50%;
    height: 75%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav.smaller .brand-logo {
    left: 50%;
    height: 95%;
  }
}  

/*brand name large screen*/
  nav .brand-name {
  position: absolute;
  color: #444;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  padding: 0;
  white-space: nowrap;
  line-height: 136px;
  left: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
  nav.smaller .brand-name {
  position:absolute;
  color: #444;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
  white-space: nowrap;
  line-height: 70px;
  left: 14%;
}

/*brand name medium screen*/
@media only screen and (max-width: 992px) {
  nav .brand-name {
    left: 50%;
    line-height: 180px;
  }
  nav.smaller .brand-name {
  display: none;
}
}
/*brand name small screen*/
@media only screen and (max-width: 600px) {
  nav .brand-name {
    font-size: 1.7rem;
    line-height: 170px;
  }
}

/*nav shadow*/
nav {box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);}
nav.smaller {box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}












/* panorama slider */
.slider {height: 500px;}
.slider .slides {height: 500px;}
.slider .indicators .indicator-item.active {background-color: #fdd835;}



/* Temp index */
.container-centered {margin: 10% auto; max-width: 1280px; width: 90%;}
@media only screen and (min-width: 601px) {.container-centered {width: 85%; margin: 10% auto}}
@media only screen and (min-width: 993px) {.container-centered {width: 70%;}}

.centerimg {margin-left:44%;}